html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.row {
  height: 100%;
  margin: 0;
}

h1 {
  color: white;
  font-size: 6vw;
  font-family: sans-serif;
  margin-bottom: 0;
}

h2 {
  color: white;
  margin-top: 0;
  padding-left: 5px;
  font-family: sans-serif;
  font-size: 2vw;
}

img {
  margin-left: 5px;
  height:4vw;
}

@media(max-width:992px) {
  img {
    width: 80%;
    height:auto;
  }
  h1 {
    font-size: 10vw;
  }
  h2 {
    font-size: 5vw;
  }
}

#left-image {
  background-image: url('../images/MathsQuiziPhone.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
